<div class="container mt-6">
  <header class="mb-6"><h2 class="title">Blog</h2></header>
  <section class="columns is-variable is-multiline is-mobile is-8">
    <%= for article <- @articles, do: render_article(@socket, article) %>
  </section>
</div>
